@import url('http://fonts.cdnfonts.com/css/cubicfive');

#root {
  cursor: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 0 0;
}

.game-name {
  color: #fff;
  font-size: 40px;
  font-family: 'CubicFive10', sans-serif;
  cursor: none;
}